<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CanonicalName</key>
	<string>puredarwin1.0</string>
	<key>CustomProperties</key>
	<dict>
		<key>KERNEL_EXTENSION_HEADER_SEARCH_PATHS</key>
		<string>$(KERNEL_FRAMEWORK)/PrivateHeaders $(KERNEL_FRAMEWORK_HEADERS)</string>
	</dict>
	<key>DebuggerOptions</key>
	<dict>
		<key>SupportsViewDebugging</key>
		<string>YES</string>
	</dict>
	<key>DefaultDeploymentTarget</key>
	<string>11.0</string>
	<key>DefaultProperties</key>
	<dict>
		<key>AD_HOC_CODE_SIGNING_ALLOWED</key>
		<string>YES</string>
		<key>CODE_SIGNING_ALLOWED</key>
		<string>YES</string>
		<key>DEFAULT_COMPILER</key>
		<string>com.apple.compilers.llvm.clang.1_0</string>
		<key>DEPLOYMENT_TARGET_SUGGESTED_VALUES</key>
		<array>
			<string>10.9</string>
			<string>10.10</string>
			<string>10.11</string>
			<string>10.12</string>
			<string>10.13</string>
			<string>10.14</string>
			<string>10.15</string>
			<string>11.0</string>
		</array>
		<key>ENTITLEMENTS_DESTINATION</key>
		<string>Signature</string>
		<key>IOS_UNZIPPERED_TWIN_PREFIX_PATH</key>
		<string>/System/iOSSupport</string>
		<key>KASAN_DEFAULT_CFLAGS</key>
		<string>-DKASAN=1 -fsanitize=address -mllvm -asan-globals-live-support -mllvm -asan-force-dynamic-shadow</string>
		<key>MACOSX_DEPLOYMENT_TARGET</key>
		<string>11.0</string>
		<key>PLATFORM_NAME</key>
		<string>macosx</string>
		<key>TEST_FRAMEWORK_SEARCH_PATHS</key>
		<string>$(inherited) $(PLATFORM_DIR)/Developer/$(TEST_FRAMEWORK_DEVELOPER_VARIANT_SUBPATH)Library/Frameworks</string>
		<key>TEST_LIBRARY_SEARCH_PATHS</key>
		<string>$(inherited) $(PLATFORM_DIR)/Developer/$(TEST_FRAMEWORK_DEVELOPER_VARIANT_SUBPATH)usr/lib</string>
	</dict>
	<key>DefaultVariant</key>
	<string>macos</string>
	<key>DisplayName</key>
	<string>PureDarwin 11.0</string>
	<key>IsBaseSDK</key>
	<string>YES</string>
	<key>MaximumDeploymentTarget</key>
	<string>11.0.99</string>
	<key>MinimalDisplayName</key>
	<string>11.0</string>
	<key>PropertyConditionFallbackNames</key>
	<array/>
	<key>SupportedTargets</key>
	<dict>
		<key>iosmac</key>
		<dict>
			<key>Archs</key>
			<array>
				<string>x86_64</string>
				<string>x86_64h</string>
				<string>arm64</string>
				<string>arm64e</string>
			</array>
			<key>BuildVersionPlatformID</key>
			<string>6</string>
			<key>DefaultDeploymentTarget</key>
			<string>14.0</string>
			<key>DeploymentTargetSettingName</key>
			<string>IPHONEOS_DEPLOYMENT_TARGET</string>
			<key>LLVMTargetTripleEnvironment</key>
			<string>macabi</string>
			<key>LLVMTargetTripleSys</key>
			<string>ios</string>
			<key>LLVMTargetTripleVendor</key>
			<string>apple</string>
			<key>MaximumDeploymentTarget</key>
			<string>14.2.99</string>
			<key>MinimumDeploymentTarget</key>
			<string>13.1</string>
			<key>ValidDeploymentTargets</key>
			<array>
				<string>13.1</string>
				<string>13.2</string>
				<string>13.3</string>
				<string>13.3.1</string>
				<string>13.4</string>
				<string>13.5</string>
				<string>14.0</string>
				<string>14.1</string>
				<string>14.2</string>
			</array>
		</dict>
		<key>macosx</key>
		<dict>
			<key>Archs</key>
			<array>
				<string>x86_64</string>
				<string>x86_64h</string>
				<string>arm64</string>
				<string>arm64e</string>
			</array>
			<key>BuildVersionPlatformID</key>
			<string>1</string>
			<key>DefaultDeploymentTarget</key>
			<string>11.0</string>
			<key>DeploymentTargetSettingName</key>
			<string>MACOSX_DEPLOYMENT_TARGET</string>
			<key>LLVMTargetTripleEnvironment</key>
			<string></string>
			<key>LLVMTargetTripleSys</key>
			<string>macosx</string>
			<key>LLVMTargetTripleVendor</key>
			<string>apple</string>
			<key>MaximumDeploymentTarget</key>
			<string>11.0.99</string>
			<key>MinimumDeploymentTarget</key>
			<string>10.9</string>
			<key>PlatformFamilyName</key>
			<string>macOS</string>
			<key>ValidDeploymentTargets</key>
			<array>
				<string>10.9</string>
				<string>10.10</string>
				<string>10.11</string>
				<string>10.12</string>
				<string>10.13</string>
				<string>10.14</string>
				<string>10.15</string>
				<string>11.0</string>
			</array>
		</dict>
	</dict>
	<key>Variants</key>
	<array>
		<dict>
			<key>BuildSettings</key>
			<dict>
				<key>CODE_SIGN_IDENTITY</key>
				<string>$(CODE_SIGN_IDENTITY_$(_DEVELOPMENT_TEAM_IS_EMPTY))</string>
				<key>CODE_SIGN_IDENTITY_NO</key>
				<string>Apple Development</string>
				<key>CODE_SIGN_IDENTITY_YES</key>
				<string>-</string>
				<key>IPHONEOS_DEPLOYMENT_TARGET</key>
				<string>14.0</string>
				<key>LLVM_TARGET_TRIPLE_OS_VERSION</key>
				<string>$(LLVM_TARGET_TRIPLE_OS_VERSION_$(_MACOSX_DEPLOYMENT_TARGET_IS_EMPTY))</string>
				<key>LLVM_TARGET_TRIPLE_OS_VERSION_NO</key>
				<string>macos$(MACOSX_DEPLOYMENT_TARGET)</string>
				<key>LLVM_TARGET_TRIPLE_OS_VERSION_YES</key>
				<string>macos11.0</string>
				<key>LLVM_TARGET_TRIPLE_SUFFIX</key>
				<string></string>
				<key>_BOOL_</key>
				<string>NO</string>
				<key>_BOOL_NO</key>
				<string>NO</string>
				<key>_BOOL_YES</key>
				<string>YES</string>
				<key>_DEVELOPMENT_TEAM_IS_EMPTY</key>
				<string>$(_BOOL_$(_IS_EMPTY_$(DEVELOPMENT_TEAM)))</string>
				<key>_IS_EMPTY_</key>
				<string>YES</string>
				<key>_MACOSX_DEPLOYMENT_TARGET_IS_EMPTY</key>
				<string>$(_BOOL_$(_IS_EMPTY_$(MACOSX_DEPLOYMENT_TARGET)))</string>
			</dict>
			<key>Name</key>
			<string>macos</string>
		</dict>
		<dict>
			<key>BuildSettings</key>
			<dict>
				<key>CODE_SIGN_IDENTITY</key>
				<string>Apple Development</string>
				<key>ENABLE_HARDENED_RUNTIME</key>
				<string>YES</string>
				<key>IPHONEOS_DEPLOYMENT_TARGET</key>
				<string>14.0</string>
				<key>LIBRARY_SEARCH_PATHS</key>
				<string>$(inherited) $(SDKROOT)$(IOS_UNZIPPERED_TWIN_PREFIX_PATH)/usr/lib $(TOOLCHAIN_DIR)/usr/lib/swift/maccatalyst</string>
				<key>LLVM_TARGET_TRIPLE_OS_VERSION</key>
				<string>$(LLVM_TARGET_TRIPLE_OS_VERSION_$(_IPHONEOS_DEPLOYMENT_TARGET_IS_EMPTY))</string>
				<key>LLVM_TARGET_TRIPLE_OS_VERSION_NO</key>
				<string>ios$(IPHONEOS_DEPLOYMENT_TARGET)</string>
				<key>LLVM_TARGET_TRIPLE_OS_VERSION_YES</key>
				<string>ios14.0</string>
				<key>LLVM_TARGET_TRIPLE_SUFFIX</key>
				<string>-macabi</string>
				<key>RESOURCES_MINIMUM_DEPLOYMENT_TARGET</key>
				<string>$(IPHONEOS_DEPLOYMENT_TARGET)</string>
				<key>RESOURCES_PLATFORM_NAME</key>
				<string>macosx</string>
				<key>RESOURCES_UI_FRAMEWORK_FAMILY</key>
				<string>uikit</string>
				<key>SWIFT_DEPLOYMENT_TARGET</key>
				<string>$(IPHONEOS_DEPLOYMENT_TARGET)</string>
				<key>SWIFT_PLATFORM_TARGET_PREFIX</key>
				<string>ios</string>
				<key>SYSTEM_FRAMEWORK_SEARCH_PATHS</key>
				<string>$(inherited) $(SDKROOT)$(IOS_UNZIPPERED_TWIN_PREFIX_PATH)/System/Library/Frameworks</string>
				<key>SYSTEM_HEADER_SEARCH_PATHS</key>
				<string>$(inherited) $(SDKROOT)$(IOS_UNZIPPERED_TWIN_PREFIX_PATH)/usr/include</string>
				<key>TARGETED_DEVICE_FAMILY</key>
				<string>2</string>
				<key>_BOOL_</key>
				<string>NO</string>
				<key>_BOOL_NO</key>
				<string>NO</string>
				<key>_BOOL_YES</key>
				<string>YES</string>
				<key>_IPHONEOS_DEPLOYMENT_TARGET_IS_EMPTY</key>
				<string>$(_BOOL_$(_IS_EMPTY_$(IPHONEOS_DEPLOYMENT_TARGET)))</string>
				<key>_IS_EMPTY_</key>
				<string>YES</string>
			</dict>
			<key>Name</key>
			<string>iosmac</string>
		</dict>
	</array>
	<key>Version</key>
	<string>11.0</string>
	<key>VersionMap</key>
	<dict>
		<key>iOSMac_macOS</key>
		<dict>
			<key>13.1</key>
			<string>10.15</string>
			<key>13.2</key>
			<string>10.15.1</string>
			<key>13.3</key>
			<string>10.15.2</string>
			<key>13.3.1</key>
			<string>10.15.3</string>
			<key>13.4</key>
			<string>10.15.4</string>
			<key>13.5</key>
			<string>10.15.5</string>
			<key>14.0</key>
			<string>11.0</string>
			<key>14.1</key>
			<string>11.0</string>
			<key>14.2</key>
			<string>11.0</string>
		</dict>
		<key>macOS_iOSMac</key>
		<dict>
			<key>10.15</key>
			<string>13.1</string>
			<key>10.15.1</key>
			<string>13.2</string>
			<key>10.15.2</key>
			<string>13.3</string>
			<key>10.15.3</key>
			<string>13.3.1</string>
			<key>10.15.4</key>
			<string>13.4</string>
			<key>10.15.5</key>
			<string>13.5</string>
			<key>11.0</key>
			<string>14.0</string>
		</dict>
	</dict>
</dict>
</plist>
